<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>published</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{article.title}}</td>
            <td>{{article.description}}</td>
            <td>{{article.published}}</td>
            <td>
              <button (click)="updateArticle(user.id)" class="btn btn-warning" 
                     style="margin-left: 10px">Update</button>
              <button (click)="deleteArticle(user.id)" class="btn btn-danger" 
                     style="margin-left: 10px">Delete</button>
                <button (click)="ArticleDetails(user.id)" class="btn btn-info" 
                     style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

